[submodule "thirdparty/xbyak"]
	path = thirdparty/xbyak
	url = https://github.com/herumi/xbyak.git
	ignore = dirty
[submodule "thirdparty/zlib/zlib"]
	path = thirdparty/zlib/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
	ignore = dirty
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags.git
	ignore = dirty
[submodule "thirdparty/gtest"]
	path = thirdparty/gtest
	url = https://github.com/openvinotoolkit/googletest.git
	ignore = dirty
[submodule "runtime/plugins/cldnn_engine/3rdparty/icd_loader"]
	path = runtime/plugins/cldnn_engine/3rdparty/icd_loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
[submodule "runtime/plugins/cldnn_engine/3rdparty/cl_headers"]
	path = runtime/plugins/cldnn_engine/3rdparty/cl_headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "runtime/plugins/cldnn_engine/3rdparty/clhpp_headers"]
	path = runtime/plugins/cldnn_engine/3rdparty/clhpp_headers
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
[submodule "runtime/core/preprocessing/3rdparty/ade"]
	path = runtime/core/preprocessing/3rdparty/ade
	url = https://github.com/opencv/ade.git
[submodule "runtime/plugins/mkldnn_plugin/3rdparty/oneDNN"]
	path = runtime/plugins/mkldnn_plugin/3rdparty/oneDNN
	url = https://github.com/openvinotoolkit/oneDNN.git
